* {
    margin: 0;
    padding: 0;
    color: rgb(180,180,180);
}
body, html {
    font-family: sans-serif;
    background: rgb(10,10,10);
}
.app-container {
    width: 1140px;
    min-height: 150px;
    background-color: rgb(20,20,20);
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}
.component {
    padding: 11px;
}
.clear {
    clear: both;
}
.right {
    float: right;
}
.left {
    float: left;
}
input[type=button],input[type=submit] {
    padding: 3px;
    border: 1px solid #b4b4b4;
    background-color: #323232;
    color: #b4b4b4;
}